body{
    background-image: url(Img/imagem\ de\ fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;

}

.menu-fixo{
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: fixed;
    margin: 0 auto;
    z-index: 1;
    letter-spacing: 1px;
    background-color: #000;
    color: #fff;
    

}

.sub-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub menu p{
    margin: 0;
    padding: 0 8px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 15px;
}

.container{
    width: auto;
    height: auto;
    position: relative;
    margin: 110px auto;
}
.cabecario{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.imagem-destaque{
width: 60%;
max-width: 100%;
order: 2;
}

.texto-menu{
    width: 35%;
    order: 1;
    text-align: center;
    padding: 100px 0;
    font-size: 25px;
}

.imagem-destaque img {
    max-width: 100%;
    height: auto;
    display: block;
}

.detalhes{
    text-align: center;
    font-size: 20px;
}
h2{
    font-size: 50px;
    text-decoration: underline;
}
.negrito{
    font-weight: bold;
    
}

.opcoes{
    width: auto;
    height: auto;
    position: relative;
    margin: 0 auto;
}


.modes{
    height: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;

}
.imagem-modo-de-jogo, .mapas, .Classes, .destruicao{
   width: 500px;
   height:200px;
   padding: 60px 0;
   font-size: 17px;
}

.modes div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    text-decoration: underline;
}